
<div>
    <ul class="breadcrumb">
        <li><a routerLink="/experiments">{{ 'breadcrumbs.home' | translate }}</a></li>
        <li *ngIf="petitionSent">{{ 'breadcrumbs.petitionSent' | translate }}</li>
        <li *ngIf="!petitionSent">{{ 'breadcrumbs.petitionReceived' | translate }}</li>
    </ul>
</div>
<p-toast></p-toast>
<p-toast position="top-right" key="tl"></p-toast>
<div id="divPrin">
    <div id="header">
        <h2 *ngIf="petitionSent">{{ 'petition.sent.title' | translate }}</h2>
        <h2 *ngIf="!petitionSent">{{ 'petition.received.title' | translate }}</h2>
    </div>
    <div id="contentTable">
        <p-table #dt class="table" [columns]="cols" [value]="petitions" [paginator]="true" [rows]="10" id="table" 
         [responsive]="true" styleClass="p-datatable-gridlines" [showCurrentPageReport]="true" currentPageReportTemplate="Total: {totalRecords}">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="headerTable" *ngFor="let col of columns" [ngStyle]="{'width': col.width}" >
                        <span class="headerTitlesTable">{{ 'petition.sent.' + col.header | translate }}</span>
                    </th>
                </tr>
                <tr>
                    <th class="headerTable" *ngFor="let col of columns" [ngSwitch]="col.field">
                        <span *ngIf="petitionSent"><input  class="inputFilter" *ngSwitchCase="'mail'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="{{ 'petition.sent.inputMail' | translate  }}"></span>
                        <input class="inputFilter" *ngSwitchCase="'title'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="{{ 'petition.sent.inputTitle' | translate  }}">
                        <input class="inputFilter" *ngSwitchCase="'description'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="{{ 'petition.sent.inputDescription' | translate  }}">
                        <input class="inputFilter" *ngSwitchCase="'formatDate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="{{ 'petition.sent.inputDate' | translate  }}">
                        <p-dropdown autoWidth="false" [style]="{'width':'100%'}"  [options]="statuses" *ngSwitchCase="'statusPetition'" (onChange)="dt.filter($event.value, col.field, 'equals')" styleClass="p-column-filter" placeholder="{{ 'petition.sent.inputState' | translate  }}" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span id="re">{{ 'petition.sent.states.' + option.label | translate }}</span>
                            </ng-template>
                        </p-dropdown>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <span *ngIf="col.field === 'mail'" class="mail-investigator"> {{rowData['mail']}} </span>
                        <span *ngIf="col.field === 'title'" class="title-experiment"> {{rowData['title']}} </span>
                        <span *ngIf="col.field === 'description'"> {{rowData['description']}} </span>
                        <span *ngIf="col.field === 'formatDate'">{{ rowData[col.field] }}</span>
                        <span *ngIf="col.field === 'manager' && rowData['manager'] === true"><strong>{{ 'petition.sent.manager' | translate  }}</strong></span>
                        <span *ngIf="col.field === 'statusPetition'" class="{{rowData[col.field]}}"> {{ 'petition.sent.states.' + rowData[col.field] | translate  }} </span>
                        
                        <button type="button" (click)="showConfirmationModal(rowData)" title="{{ 'petition.sent.cancelButton' | translate  }}"
                        *ngIf="col.field === 'actions' && rowData['statusPetition'] !== 'CANCELLED' && rowData['statusPetition'] !== 'REJECTED' && petitionSent"
                        class="buttonTableAction cancelBtn"><i class="pi pi-times"></i></button>

                        <button type="button" (click)="showAcceptConfirmationModal(rowData)" title="{{ 'petition.received.acceptButton' | translate  }}"
                        *ngIf="col.field === 'actions' && (rowData['statusPetition'] === 'PENDING') && !petitionSent" 
                        class="buttonTableAction acceptBtn"><i class="pi pi-check"></i></button>

                        <button type="button" (click)="showRejectConfirmationModal(rowData)" title="{{ 'petition.received.rejectButton' | translate  }}"
                        *ngIf="col.field === 'actions' && (rowData['statusPetition'] === 'PENDING') && !petitionSent"
                        class="buttonTableAction"><i class="pi pi-times"></i></button>

                        <button type="button" (click)="showConfirmationModal(rowData)" title="{{ 'petition.sent.cancelButton' | translate  }}"
                        *ngIf="col.field === 'actions' && (rowData['statusPetition'] === 'ACCEPTED') && !petitionSent" 
                        class="buttonTableAction cancelBtn"><i class="pi pi-times"></i></button>
 
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td *ngIf="petitionSent === true" colspan="7"><strong>{{ 'petition.sent.empty' | translate  }}</strong></td>
                    <td *ngIf="petitionSent === false" colspan="6"><strong>{{ 'petition.sent.empty' | translate  }}</strong></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- VENTANA MODAL DE CONFIRMACIÓN CANCELACIÓN PETICIÓN -->
<p-dialog header="{{ 'petition.sent.confirmation' | translate }}" [(visible)]="displayCancelConfirmation" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>{{ 'petition.sent.cancelPetition' | translate }}</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" id="cancelConfirmBtn" (click)="cancelPetition()" label="{{ 'petition.sent.yes' | translate }}" class="p-button-danger"></button>
        <button pButton pRipple icon="pi pi-times" (click)="displayCancelConfirmation=false" label="{{ 'petition.sent.no' | translate }}" class="p-button-secondary"></button>
    </ng-template>
</p-dialog>

<!-- VENTANA MODAL DE CONFIRMACIÓN ACEPTAR PETICIÓN-->
<p-dialog *ngIf="!petitionSent" header="{{ 'petition.sent.confirmation' | translate }}" [(visible)]="displayAcceptConfirmation" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>{{ 'petition.received.acceptPetition' | translate }}</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" id="acceptConfirmBtn" (click)="acceptPetition()" label="{{ 'petition.sent.yes' | translate }}" class="p-button-danger"></button>
        <button pButton pRipple icon="pi pi-times" (click)="displayAcceptConfirmation=false" label="{{ 'petition.sent.no' | translate }}" class="p-button-secondary"></button>
    </ng-template>
</p-dialog>

<!-- VENTANA MODAL DE CONFIRMACIÓN RECHAZAR PETICIÓN-->
<p-dialog *ngIf="!petitionSent" header="{{ 'petition.sent.confirmation' | translate }}" [(visible)]="displayRejectConfirmation" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>{{ 'petition.received.rejectPetition' | translate }}</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" (click)="rejectPetition()" label="{{ 'petition.sent.yes' | translate }}" class="p-button-danger"></button>
        <button pButton pRipple icon="pi pi-times" (click)="displayRejectConfirmation=false" label="{{ 'petition.sent.no' | translate }}" class="p-button-secondary"></button>
    </ng-template>
</p-dialog>
