 
#divPrin{
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 50px;
}


/* CABECERA */
#header{
    width: 100%;
    margin-bottom: 8px;
}

#search, #title{
    display: inline-block;
}

#title{
    text-align: left;
    width: 75%;
}

#search{
    text-align: right;
    width: 25%
}

/* INPUTS */
.inputFilter, .inputFilterDescription, .inputFilterTitle{
    width: 100%;
}

/* TABLA */
#contentTable{
    overflow-x:auto;
}

#table{
    border-collapse: collapse;
}

/*
.headerTitlesTable{
    font-size: 1.2em;
} */

#CREATED, #OPEN, #CLOSED{
    padding: 3px 7px;
    font-size: 0.9em;
}

#CREATED{
    background: #feedaf;
    color: #8a5340;
    
}

#OPEN{
    background-color: #c8e6c9;
    color: #256029;
}

#CLOSED{
    background-color: #ffcdd2;
    color: #c63737;
}

@media only screen and (max-width: 600px) {

    #search, #title{
        display: inherit;
    }
    
    #title{
        text-align: left;
        width: 100%;
    }
    
    #search{
        text-align: left;
        width: 100%
    }
}

